<!doctype html>
<html th:fragment="layout (template)">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <title>JWT Demo</title>
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/favicon.png}" href="../../static/resources/images/favicon.png">
  <link rel="stylesheet" th:href="@{/resources/css/efrolic.min.css}" href="../../static/resources/css/efrolic.min.css"/>
</head>

<body>
<nav class="e-nav primary">
  <div class="e-menu align-start">
      <div class="e-dropdown">
        <span th:text="#{menu}">Menu</span> <i class="fas fa-angle-down"></i>
        <div class="drop-items">
          <a class="drop-item" th:href="@{/index}" href="../index.html" th:text="#{menu.index}">Index</a>
          <a class="drop-item" th:href="@{/home}" href="../home.html" th:text="#{menu.home}">Home</a>
          <hr>
          <a class="drop-item" th:href="@{/login}" href="../login.html" th:text="#{menu.login}">Login</a>
          <a class="drop-item" th:href="@{/logout}" th:text="#{menu.logout}">Logout</a>
        </div>
      </div>
    </div>


  </div>
</nav>

<div class="container-fluid">
  <div class="container xd-container">
    <th:block th:include="${template}" />
  </div>
</div>

</body>
</html>